<div class="warning">
  <h2>Warning</h2>
  <p>We're currently using a workaround for MWS that assumes that all zip code ranges used for tax calculations are within New York State.</p>
  <p>Please check with a developer if you need to create a zip code for a different state.</p>
</div>
